Source: gmrender-resurrect
Maintainer: oopen <oopen@users.noreply.github.com>
Homepage: https://github.com/oopen/gmrender-resurrect/
Section: sound
Priority: optional
Standards-Version: 4.6.2
Build-Depends: debhelper-compat (= 13),
 autoconf,
 automake,
 libtool,
 pkg-config,
 libglib2.0-dev,
 libupnp-dev,
 libgstreamer1.0-dev,
 libgstreamer-plugins-base1.0-dev

Package: gmrender-resurrect
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 gstreamer1.0-plugins-base,
 gstreamer1.0-plugins-good
Recommends: gstreamer1.0-alsa | gstreamer1.0-pulseaudio
Suggests: gstreamer1.0-plugins-bad, gstreamer1.0-plugins-ugly
Description: Minimalist UPNP AV renderer
 gmrender-resurrect is a minimalist UPNP AV renderer that can be used to
 play music controlled by a UPNP AV control point. This package contains
 only a renderer and will therefore require these things to be installed
 either on this device or another device on the local network in order to
 be usable. gmrender-resurrect uses GStreamer to provide the
 infrastructure for playing music.
