[Unit]
Description=gmrender-resurrect UPnP/DLNA renderer
After=network-online.target sound.target
Wants=network-online.target

[Service]
EnvironmentFile=-/etc/default/gmrender-resurrect
Environment=UPNP_DEVICE_NAME=%H
ExecStart=/usr/bin/gmediarender --friendly-name "${UPNP_DEVICE_NAME}" ${DAEMON_OPTS}
Restart=on-failure

[Install]
WantedBy=multi-user.target
